.header {
  text-align: center;
  border: 2px solid black;
  background-color: brown;
  margin-bottom: 0px;
  margin-top: 0px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: burlywood;
  padding-top: 50px;
  
}
.dropDown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: fit-content;
  padding-right: 50px;
  padding-bottom: 10px;
}
h1 {
  border: 2px solid black;
  background-color: brown;
}
.images {
  display: flex;
  justify-content: right;
  width: fit-content;
}
